@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-o-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.banner {
    position: relative;
    text-align: center;
}

.banner-img {
    padding-top: 66.60%;
    background-image: url(../images/Workout.0.jpg);
    background-size: cover;

}

.banner-img1 {
    padding-top: 66.60%;
    background-image: url(../images/banner-img1.jpg);
    background-size: cover;
}

.intro-wrap {
    background-color: #2d2a2b;
    color: #fff;
}

.button {
    border:1px solid #515153 ;
    border-radius: 5em;
    font-family:'Open Sans', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 14px 30px 14px 30px;
    text-decoration: none; 
    display:inline-block;
    font-weight:bold; color: #fff;
    background-color: #DF0101 ; 
    background-image: linear-gradient(to bottom, #DF0101, #DF0101);
}

.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom,#9d9d9d, #9d9d9d);
    color: #fff;
}

.intro{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color:#333;
    font-size: 20px;
}

.sub-head{ 
    color: #fff;
    font-size: 15px;
}

.titles {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 46px;
    color: #DF0101;
}


.nav {
    padding: 0;
    list-style-type: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
}

.logo {
    margin: 2em;
    align-content: left;
    width: 4em;
}

.header {
    background-color:#2d2a2b;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

a:hover,
a:active {

}
     /*
    Its' okay to remove the focus rectangle to mouse users 
    IT'S NOT OKAY TO REMOVE IT FOR KEYBOARD USERS!!!!!!!
    */

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited { 
    background-color: #DF0101;
    color: #fff;
}

nav li a:hover {
      color: #DF0101;
}

.nav-bottom li:last-child::after {
    content: none;
}

.nav-color {
    background-color: #DF0101;
    overflow: hidden;
    width: 100%;
}

.red {
    color: #DF0101;
}

.title {
    margin: 0;
    padding: 0;
    color: #DF0101;
}


.icon{
    display:block;
    margin:0 auto;
}

.form {
    position:  relative;
    max-width: 30rem;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
}

.field {
    width: 100%;
    padding: 15px;
    border: 1px solid #DF0101;
    box-shadow: 0 0 0 5px #efefef;
    border-radius: 4px;
    transition: all 250ms linear;
    margin: 5px
}

.radio {
    white-space: nowrap;
    text-align: center;
}

.thank-you {
    padding-top: 5rem;
}

.option {
    text-align: left;
}

 .copyright {
        color: white;
    }

@media only screen and (min-width: 25em) {
    
    .button-submit-color {
        margin: 0 30%;
    }
    
    .section-intro {
        padding: 0 0.5rem;
        text-align: center;
    }
    .into {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .title {
     text-align: left;   
    }
    .footer {
        background-color: #2d2a2b;
        text-align: center;
        color: #fff;
}
    .nav-bottom {
        padding: 0;
        margin-top: 3em;
        list-style-type: none;
        text-align: center;
        margin-top: 1em;
}

    .nav-bottom a,
    .nav-bottom a:link,
    .nav-bottom a:visited {
        display: block;
        color: #fff;
        text-decoration: none;
        margin: .25em 0;
        margin-top: -1em;
}

    .nav-bottom a:hover,
    .nav-bottom a:focus,
    .nav-bottom a:active {
        background-color: #DF0101;
        color: #fff;
}
    
    .nav {
        text-align: right;
        padding: 0;
    }
    
    .nav li {
        display: inline-block;
        border: 0;
    }
    
    .footer {
        text-align: right;
    }
    
    .billboard {
        height: 35rem;
    }
    
    .billboard-header {
        padding-top: 3.5rem;
    }
    
    .background-3 {
        height: 650px   
    }  
    .thank-you {
    padding-top: 12rem;
}
    
    .copyright {
        text-align: center;
    }
}
 
@media only screen and (min-width: 38em) {

    .billboard-header {
        padding-top: 9rem;
    }
    
    .action-space {
        padding-top: 5rem;
    }
    
    .into {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .title{
        text-align: left;
        }

    .nav {
        text-align: right;
        } 
    
     .footer {
        text-align: right;
    }
    
     .thank-you {
        padding-top: 11rem;
    }
    
    .billboard {
       height:40rem;
    }
    
    .copyright {
        text-align: center;
    }

}

@media only screen and (min-width: 60em) {
    
    .section-intro {
        padding: 0 10rem;
    }
    
    .intro {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .billboard-header {
        padding-top:10rem;
      }
    
    .action-space {
        padding-top:6rem;
    }
    
    .title {
        text-align: left;
    }
    
    .background-3 {
        height: 700px   
    }    
    
    .nav {
        text-align:right;
    }
    
     .footer {
        text-align: right;
    }
    
    .copyright {
        text-align: center;
    }
}

}
    
    p {
    color: #fff;
}

ul {
    padding: 0;
}

ol, ul {
    list-style: none;
}

.plans {
    background-image: url(../images/);
    background-position:  center center;
    background-size: cover;
    overflow: hidden;
}

.layer {
    clear: both;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.layer > div {
    display: block;
}

.background-colour {
    background-color: #F2F2F3;
}

.plan-tier {
    cursor: pointer;
    margin-top: 4.5em;
}

.middle {
    margin-top: 0;
}

.lift {
    position: relative;
}

.lift:hover {
    top: -10px;
}

.plan-tier h2 {
    padding: 18px 0 15px;
    margin: 0 0 30px;
    background: #DF0101;
    color: white;
    overflow: hidden;
}

.plan-tier sup {
    position: relative;
    right: -9px;
}

.plan-tier ul { /** Under the monthly fee**/
    border-top: 2px solid #333;
}

.plan-tier ul li {
    padding: 18px 0;
    color: rgba(39,65,90,.9);
    border-bottom: 2px solid #DF0101;
}

sup {
    vertical-align: top;
}

.plan-tier sub {
    vertical-align: bottom;
    position: relative;
    bottom: .875em;
}

.plan-tier {
    color: white;
}

.cost {
    color: #DF0101;
}

p:first-of-type {
    margin-top: 0;
}

.layer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.plan-tier.callout h6 {
    width: 100%;
    padding: 15px 0 14px;
    background: #333;
    color: rgba(39,65,90,.5);
    font-size: 1.25em;
    margin-bottom: 0;
    color: white;
}

.plan-tier.callout h3 {
    background-color: #515153;
    padding: 1.5rem;
    margin: 0;
}
